<h1>Editing message</h1>
<%= form_with(model: @message) do |form| %>
  <%= render "inline_fields", form: form, attribute: :name do %>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  <% end %>
  <%= render "inline_fields", form: form, attribute: :content do %>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  <% end %>
<% end %>

<div>
  <%= link_to "Edit this message", @message %> |
  <%= link_to "Back to messages", messages_path %>
</div>
