<p style="color: green"><%= notice %></p>

<div class="raw">
<%= render "inline_edit", model: @message, attribute: :name do %>
  <h2><%= @message.name %></h2>
<% end %>
</div>
<%= render "inline_edit", model: @message, attribute: :content do %>
  <h1><%= @message.content %></h1>
<% end %><br>

<div>
  <%= link_to "Edit", edit_message_path(@message) %> |
  <%= link_to "Back", messages_path %>

  <%= button_to "Destroy this message", @message, method: :delete, class: "btn btn-danger" %>
</div>
