<p style="color: green"><%= notice %></p>

<% frame_id = dom_id(@message, "name_turbo_frame") %>
<%= form_with(model: @message, class: "contents", data: { turbo_frame: frame_id}) do %>
  <%= turbo_frame_tag frame_id do %>
    <h1><%= @message.name %></h1>
    <%= link_to "Edit Name", edit_message_path(@message)%>
  <% end %>
<% end %>


<div>
  <%= link_to "Edit this message", edit_message_path(@message) %> |
  <%= link_to "Back to messages", messages_path %>

  <%= button_to "Destroy this message", @message, method: :delete %>
</div>
